*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    background: #ddd;
    color: #636363;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 5px 0 0;
    margin: auto;
    max-width: 600px;
}

body:after{
    content:"© 2017 MY NEW MUSIC 2";display:block;padding:7px;background:#333;color:#fff;}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 2px;
    display: block;
}
a {
    color: #01b1d3;
    text-decoration: none;
}
a:visited {
    color: #01b1d3;
    text-decoration: none;
}
a:hover {
    color: #006F85;
    text-decoration: none;
}
a img {
    border-width: 0
}
ul, ol {
    margin-top: 0;
    padding-left: 25px;
    margin-bottom: 1px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0
}
p {
    margin: 0 0 5px
}
.header {
    color: #000;
    padding: 10px;
    background-color:#fff;
    background-image: url(http://2.bp.blogspot.com/-usDforCDO9M/VZfBjJ8J8fI/AAAAAAAAAzk/g6_5NuI7gGI/s1600/line.png);
    background-position:top;
    background-repeat: repeat-x;
}
.header a {
    color: #ff0000;
    font-size: 16px;
    text-shadow: 0.5px 0.4px 0 #fff;
}    
.header a:hover {
    color: red
}
.header h2 {
    font-size: 11px;
}
.menu {
    background-color: #292929;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=696969&to=292929&width=1&height=35);
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: 3px solid #ff0000;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    overflow: hidden;
    text-align:center;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block
}
.menu ul li {
    margin: 0;
    padding: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(255,255,255,.1);
    float: left;
}
.menu ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 3px 7px;
    display: block;
    white-space: nowrap;
    margin: 0;
    vertical-align: middle;
    background-color: transparent;
}
.menu ul li a:visited {
    color: #fff
}
.home_page .menu ul li#menu-list-home a,
.menu ul li a:hover, .menu ul li.active a {
    color: #fff;
    background-color: #ff0000;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ACE5F0&to=01B1D3&width=1&height=34);
    background-position: left top;
    background-repeat: repeat-x;
}
.content {
    padding: 5px;
}
.post {
    padding: 0;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.singlepost .post {
    border-radius: 3px;
    Padding:5px;
}
.post:last-child {
    margin-bottom: 0
}
.post-heading {
    padding: 5px 8px;
    background-color: #fff;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ffffff&to=ededed&width=1&height=28);
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.singlepost .post-heading {
    padding: 8px 10px;
    background: transparent;
    border-bottom: 1px solid #fcfcfc;
    overflow: hidden;
}
.post-heading a,.post-heading a:visited {
    color: #ff0000
}
.post-heading a:hover {
    color: #999;
}
.post-heading .post-title {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.singlepost .post-heading .post-title {
    font-size: 16px;
}
.post-heading .post-meta {
    font-size: 10px;
    color: #ccc;
    white-space: nowrap;
}
.posts .post-body {
    padding: 8px;
    /*text-align: justify;*/
    display: table-cell;
    overflow: hidden;
}
.posts .post-body > .thumbnail {
    float: left;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    /*width: 100%;
    margin-bottom: 8px;*/
}
.post-footer:before,.post-footer:after{
    content: " ";
    display: block;
}
.post-footer {
    background-color: #fff;
    padding: 5px;
    margin: 0;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.post-footer:after {
    clear: both;
}
.posts .post-footer a {
    color: #666;
}
.posts .post-footer-left, .posts .post-footer-right {
    padding: 5px;
    width: 30%;
    display: inline-block;
    background-color: #328cd2;
    float: left;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.posts .post-footer-right {
    border-left: 1px solid #ddd;
}
.posts .post-footer-left {
    border-right: 1px solid transparent;
}
.posts .post-footer a.post-footer-left:hover, .posts .post-footer a.post-footer-right:hover {
    background-color: #f9f9f9;
}
.admin-post-action {
    margin: 0 5px 5px 5px;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
}
.admin-comment-action {
    margin-top: 8px;
}
.admin-post-action a,.admin-comment-action a {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #777;
}
.admin-post-action a + a, .admin-comment-action a + a {
    margin-left: 2px;
}
.admin-post-action a:hover,.admin-comment-action a:hover {
    background-color: #ececec;
}
.admin-post-action a, .admin-comment-action a {
    border-radius: 3px;
}
.singlepost .post-body {
    padding: 8px;
    overflow: hidden;
}
.pager {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.pagination:before, .pagination:after{
    content: " ";
    display: block;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 5px;
    border-radius: 5px;    
}
.pagination:after,.clear {
    clear:both
}
.pagination > li {
    display: inline
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 8px 10px;
    margin-left: -1px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #01b1d3;
    border-color: #01b1d3;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pull-right {
    float: right !important
}
.pull-left {
    float: left !important
}
.alert {
    color: #555;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    padding: 8px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.alert-danger {
    background: #ffecec;
    border: 1px solid #f5aca6;
}
.alert-success {
    background: #e9ffd9;
    border: 1px solid #a6ca8a;
}
.alert-warning {
    background: #fff8c4;
    border: 1px solid #f2c779;
}
.alert-info {
    background: #e3f7fc;
    border: 1px solid #8ed9f6;
}
.list-unstyled {
    list-style: none;
    padding-left: 0
}
.breadcrumb {
    padding: 6px 8px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #f9f9f9;
    color: #ccc;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.breadcrumb > li {
    display: inline-block
}
.breadcrumb > .divider {
    padding: 0 3px;
    color: #ccc;
}
.breadcrumb > .active {
    color: #777
}
.singlepost .post {
    margin-bottom: 10px;
}
.social-buttons {
    padding: 5px;
    margin:5px;
}
.social-buttons span {
    margin: 0 2px;
    display: inline
}
.social-buttons img {
    width: 24px;
    height: 24px;
}
.recent-posts {
    margin: 0 0 10px 0;
    padding:0;
    border-radius: 3px;
}
.recent-posts h3 {
    padding: 8px;
    margin-bottom: 0;
    background-color: #ededed;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ffffff&to=ededed&width=1&height=35);
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.recent-posts > ul {
    list-style: none;
    padding: 0;
    margin:  0;
}
.recent-posts > ul li {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.recent-posts > ul li + li {
    margin-top: -1px;
}
.recent-posts > ul li > a {
    padding: 8px;
    display: block;
    vertical-align: middle;
}
.recent-posts > ul li > a:hover {
    background-color: #f9f9f9
}
.recent-posts > ul li:last-child a:hover {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.recent-posts > ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.comments {
    margin: 0;
    padding:0;
}
.comments .alert {
    padding: 10px 15px;
    border-radius: 0;
    border-color: #ddd;
    margin-top: -1px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.comment-info {
    padding: 5px 8px;
    background-color: #ededed;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ffffff&to=ededed&width=1&height=50);
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.comment-info h4 {
    font-size: 10px;
    font-style: italic;
    color: #ccc;
    white-space: nowrap;
}
.comment {
    padding: 8px;
    border: 1px solid #ddd;
    margin-top: 5px;
    background-color: #fff;
}
.comment, .comment-body {
    overflow: hidden;
    zoom: 1;
}
.comment + .comment {
    margin-top: -1px
}
.comment:first-child{
    margin-top: -1px;
}
.comment:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.comment:nth-child(odd) {
    background-color: #fcfcfc
}
.comment.moderated {
    background-color: #FFECEC;
}
.comment-object {
    display: block;
    width: 48px;
    height: 48px;
}
.comment-heading {
    margin: 0 0 5px
}
.comment > .pull-left {
    margin-right: 10px
}
.comment > .pull-right {
    margin-left: 10px
}
.comment-list {
    padding-left: 0;
    list-style: none;
}
.comment-meta {
    margin-bottom: 5px;
    padding: 0;
    color: #ccc;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.comment-meta a,.comment-meta a:visited {
    color: #666;
}
.comment-meta a:hover {
    color: #ccc;
}
.comment-heading > h3 {
    font-size: 12px;
}
.comment-body {
    display: table-cell;
}
.comment-body > p {
    margin-bottom: 0;
}
.comment-sub-body {
    border-top: 1px dotted #ccc;
    padding-top: 5px;
}
.comment-form {
    margin-top: 8px;
}
.comment-form h3 {
    margin-bottom: 5px;
    padding: 5px 0;
}
.new-comment-closed {
    margin-top: 8px;
}
.form-group {
  margin-bottom: 8px;
}
.form-group .captcha img {
    margin-bottom: 5px;
    display: block;
}
.form-group .help-block {
    margin-top: 5px;
}
label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
select.form-control {
  height: 30px;
  line-height: 30px;
}
.btn {
    display: inline-block;
    color: #fff;
    background-color: #01b1d3;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ace5f0&to=01b1d3&width=1&height=30);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #61CEE3;
    border-radius: 3px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #fff;
    border-color: #01b1d3;
    text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
    color: #777 !important;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=ffffff&to=dedede&width=1&height=30);
    border: 1px solid #dedede;
}
.btn-default:hover,
.btn-default:focus {
    border-color: #ccc;
    color: #999;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group .form-control:first-child,
.input-group-btn:first-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .form-control:last-child,
.input-group-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.radio label,
.checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio label span,
.checkbox label span {
  vertical-align: middle;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px 9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.widgets {
    margin: 0;
    padding:10px 5px 0;
    background: #292929 url(http://2.bp.blogspot.com/-usDforCDO9M/VZfBjJ8J8fI/AAAAAAAAAzk/g6_5NuI7gGI/s1600/line.png) repeat-x top;
}
.widget + .widget {
    margin-top: 5px;
}
.widget-search-form .form-control {
    background-color: #333;
    border-color: #222;
} 
.widget-search-form .btn {
    background-color: #333333;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=333333&to=222222&width=1&height=30);
    border-color: #222;   
    float:right;
    margin-top:-30px;    
}
.widget-category,
.widget-navigation {
    border-radius: 3px;
    background:#eee;
    margin:0;
}
.widget-category h3,
.widget-navigation h3 {
    font-size: 12px;
    color: #fff;
    padding: 8px 10px;
    background-color: #ccc;
    background-image: url(http://blogmr.com/assets/css/images/png_gradient.php?from=2a2a2a&to=222222&width=1&height=35);
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
}
.widget-category ul,
.widget-navigation ul {
    list-style: none;
    display:block;
    padding:0 0 5px 0;
    margin-bottom:5px;
}
.widget-category ul li,
.widget-navigation ul li {
    background:#fff;
    padding:7px 0;
    margin: 3px;
    border: 1px solid #fff;
}
.widget-category ul li a {
    padding: 8px 10px;
    background-color: transparent;
}
.widget-category ul li a span {
    float: right;
    color: #555;
}
.widget-category ul li a:hover {
    background-color: #eee;
}
.widget-category ul li + li,
.widget-navigation ul li + li {
    margin-top: -1px;
}
.widget-category ul li:last-child,
.widget-category ul li:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.footer {
    padding: 10px 15px;
    text-align: center;
    background-color: #292929;
}